.todoitem-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.checkbox-container {
    width: 20px;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.todo-checkbox {
    width: 15px;
    height: 15px;
    cursor: pointer;
    accent-color: #2563eb;
}


.delete-button-container {
    width: 70px;
    display: flex;
    align-items: center;
    gap: 10px;
    /* background-color: red; */
    justify-content: space-evenly;
    padding: 0px 20px;
}

.todo-text-container {
    width: calc(100% - 130px);
    padding: 10px;
}

.delete-btn {
    background: red;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}

.icon-btn {
    background-color: #fff;
    border: 1px solid #000;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}



.todo-input-edit {
    display: flex;
    flex: 1;
    padding: 10px 8px;
    border-radius: 4px;
    border: 1px solid #fff;
    width: 100%;
}



/* .delete-btn{
    padding: 0.6em 1.2em;
        border: 1px solid #000;
        border-radius: 5px;
        color: #fff;
    
} */